<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Login Page</title>
</head>
<body>
    <%- include('common/header');%> // do not use = instead use - to use nav tag on common/header file
    <h1>This is a Login Page</h1>
</body>
</html>